body, textarea {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.keyboard-keys{
  margin: 3px;
  padding: 3px;
  width: 100%;
  display: block;
  background: #d1d5db;
}

textarea{
  border: solid 1px #d1d5db;
  height: 60px;
  font-size: 2em;
  border-radius: 10px;
  padding: 5px;
}

.output-row{
  margin: 10px 2px;
  text-align: center;
}

.top-row{
  margin: 10px 2px;
  text-align: center;
}

.middle-row{
  margin: 10px 2px;
  text-align: center;
}

.bottom-row{
  margin: 10px 2px;
  text-align: center;
}

.function-row{
  margin: 10px 2px;
  text-align: center;
}

button{
  border:none;
  width: 40px;
  height: 50px;
  border-radius:6px;
  box-shadow: 0 1px 0 #888;
  font-size: 1.5em;
}

button:active{
  color: #888;
  background-color: #888;
}

#spacebar{
  width: 140px;
} 

#backspace{
  width: 140px;
}